body{
    margin: 0;
}

.navbar-gradient {
    background: linear-gradient(to left, #c7ae24, #ccb23d);

}

.custom-brand {
    margin-left: -10px;
    padding-left: 0; 
}
.nav-link.active {
    color: black;
    margin-right: 10px;
}

.profile-box {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black ;
    border-radius: 10px;
    overflow: hidden;
    background-color: #eecd3b;
    cursor: pointer;
    transition: 0.3s;
}
.profile-box:hover {
    border-color: black;
}

.profile-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.profile-content i {
    font-size: 30px;
    color: rgb(54, 54, 54);
}

.profile-content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.profile-container {
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 8px;
    width: fit-content;
}

.profile-box:hover {
    transform: scale(1.1);
}


.profile-text {
    display: flex;
    flex-direction: column;
}
.nav-menu{
    width: 25px;
    height: 40px;
    border-radius:4px;
    align-items: center;
    justify-content: center;
    display:inline-flex;
    margin-bottom: 15px;
    color: black;
 
}
.nav-link.dropdown-toggle {
    font-size: 18px;
    color: black;
    display: flex;
    align-items: center;
    transition: all 0.3s ease-in-out;
}
.dropdown-menu {
    background: #F8F9FA ;
    border-radius: 6px;
    border: 1px solid #D4AF37;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
    overflow: hidden;
}
.dropdown-item {
    font-size: 14px;
    padding: 10px 15px;
    color: #222222;
    transition: background 0.3s ease, color 0.3s ease;
}
.dropdown-item:hover {
    background: #D4AF37;
    color: black;
}
.dropdown-item:active {
    background-color: #C9A227;
    color: white;
}

.nav-link.dropdown-toggle::after {
    display: none;
}
.nav-link.dropdown-toggle:hover i {
    color: #800020;
}
.name {
    font-weight: bold;
    font-size: 16px;
    color: black;
}

.role {
    font-size: 14px;
    color: rgb(27, 27, 27);

}

.nav-item.dropdown {
    position: relative;
}

